
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


body{
    font-family: 'Sixtyfour';
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 30px 0 50px;
    font-family: 'Sixtyfour';
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 30px 0 50px;
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 30px 0 50px;
}